---
layout: layouts/page
eyebrow: Últimos posts
eleventyNavigation:
  key: Início
  order: 1
---

	{% if collections.posts.length > 0 %}
		<ol class="post-timeline" role="list">
			{% for post in collections.posts | head(10) %}
				<li class="post-timeline__item">
					<article class="post-timeline__entry">
						<time class="post-timeline__date" datetime="{{ post.date | htmlDateString }}">
							{{ post.date | readableDate("dd 'de' LLL yyyy") }}
						</time>

						<h2 class="post-timeline__title">
							<a href="{{ post.url }}#main">{{ post.data.title }}</a>
						</h2>
					</article>
				</li>
			{% endfor %}
		</ol>

		<ul role="list" class="actions" style="margin-top: 2rem;">
			<li><a class="more-link" href="/blog/">Ver arquivo completo</a></li>
		</ul>
	{% else %}
		<p>Nenhum post encontrado.</p>
	{% endif %}