---
layout: layouts/page
eyebrow: agora
title: Now
description: Um retrato rápido do que está em foco agora.
eleventyComputed:
  meta: >
    Última atualização <time datetime="2026-03-20">20 de março de 2026</time>.
eleventyNavigation:
  key: Now
  order: 2
---

<p>❓ Essa página é baseada no projeto <a href="https://nownownow.com/" target="_blank" style="display: inline-flex; gap: 0.25em; align-items: center;">https://nownownow.com {% icon "custom:external", width="1em" %}</a>, cujo objetivo é passar uma insight geral de como estou/o que estou fazendo <strong>agora</strong>.</p>

<h2>✍️ Pessoal</h2>
<p>Ando meio impaciente, agitado, tentando resolver tudo de uma vez, a vida financeira sempre apertada deixa as coisas mais complicadas ainda.</p>
<p>Mas do ponto de vista do humor, ando bem, feliz.</p>

<h2>💼 Profissional</h2>
<p>Tenho um trabalho <em>in</em>formal, no qual realizado duas funções que anda me sobrecarregando, mas estamos seguindo.</p>
<p>Do lado da programação, sigo aprendando com o objetivo de construir meu app full-stack para clínicas, projeto pausado, <strong>de novo</strong>.</p>

<h2>🖥️ Blog</h2>
<p>Tenho objetivo de atualizar esse blog com uma certa constância, usar ele como um diário pessoal mas também como <em>devlog</em>. Eu estou constantemente construindo coisas, aleatórias ou não, e raramente anotando, descrevendo elas. Vou usar aqui para isso.</p>
