---
layout: layouts/page
eyebrow: agora
title: Now
description: Um retrato rápido do que está em foco agora.
eleventyComputed:
  meta: >
    Última atualização <time datetime="2026-03-20">20 de março de 2026</time>.
eleventyNavigation:
  key: Now
  order: 2
---

...