---
layout: layouts/page
eyebrow: Últimos posts
eleventyNavigation:
  key: Início
  order: 1
---

{% if collections.posts.length > 0 %}
    <ol class="timeline" role="list">
        {% for post in collections.posts | head(10) %}
            <li class="timeline__item">
                <article class="timeline__entry">
                    <time class="timeline__date" datetime="{{ post.date | htmlDateString }}">
                        <span class="timeline__date-text">{{ post.date | readableDate("dd 'de' LLL yyyy") }}</span>
                    </time>

                    <h2 class="timeline__title">
                        <a href="{{ post.url }}#main">{{ post.data.title }}</a>
                    </h2>
                </article>
            </li>
        {% endfor %}
    </ol>

    <ul role="list" class="page__actions">
        <li><a class="link-more" href="/blog/">Ver arquivo completo</a></li>
    </ul>
{% else %}
    <p>Nenhum post encontrado.</p>
{% endif %}
