*, *::after, *::before { box-sizing: border-box; }
* { margin: 0; }

:where(a[href]) {
    color: var(--accent);
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

button {
    line-height: 1;
}

svg,
img {
    max-width: 100%;
    display: block;
}

ol[role="list"],
ul[role="list"] {
    padding: 0;
    list-style: none;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
    color-scheme: light dark;

    @media (min-width: 1400px) {
        font-size: 16px;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.65;
    display: grid;
    min-height: 100vh;
    align-content: start;
    background-color: var(--neutral-100);
    color: var(--text);
}

@media (min-width: 736px) {
    body {
        grid-template-columns: 22rem 1fr;
    }
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    line-height: 1.15;
    font-weight: 500;
}

