---
layout: layouts/page
permalink: /blog/
eyebrow: arquivo
title: Blog
description: Todos os posts publicados até agora, em ordem cronológica.
eleventyComputed:
  meta: >
    {{ collections.posts.length }} post{% if collections.posts.length != 1 %}s{% endif %} publicado{% if collections.posts.length != 1 %}s{% endif %}.
eleventyNavigation:
  key: Blog
  order: 3
---

	{% if collections.posts.length > 0 %}
		<ol class="post-timeline post-timeline--archive" role="list">
			{% for post in collections.posts %}
				<li class="post-timeline__item">
					<article class="post-timeline__entry">
						<time class="post-timeline__date" datetime="{{ post.date | htmlDateString }}">
							{{ post.date | readableDate("dd 'de' LLL yyyy") }}
						</time>

						<h2 class="post-timeline__title">
							<a href="{{ post.url }}#main">{{ post.data.title }}</a>
						</h2>

						{% if post.data.description %}
							<p class="post-timeline__excerpt">{{ post.data.description }}</p>
						{% endif %}

						{% set visibleTags = post.data.tags | filterTagList %}
						{% if visibleTags and visibleTags.length %}
							<p class="post-timeline__tags">
								<span>{{ visibleTags | join("</span>, <span>") | safe }}</span>
							</p>
						{% endif %}
					</article>
				</li>
			{% endfor %}
		</ol>
	{% else %}
		<p>Nenhum post encontrado.</p>
	{% endif %}