---
layout: layouts/base
---

<article>
    <header>
        <h1>{{ title }}</h1>
        <time datetime="{{ page.date }}">
            {% icon "custom:time", width="24px" %}
            <span>{{ page.date | readableDate }}</span>
        </time>
    </header>
    <div class="content">
        {{ content | safe }}
    </div>
    <footer>
        {% if tags and tags.length %}
            ∘ <span>
            {{ tags | join(', ') }}
            </span>
        {% endif %}
    </footer>
</article>
